@using WebApplication1.Models
@Model WebApplication1.Models.MemberInfoViewModel
@{
    ViewBag.Title = "ShowShoppingList";
}

<h2>ShowShoppingList</h2>
<div>
    會員編號: @Model.Member.Id
    <br />
    會員姓名: @Model.Member.Name
    <br />
    <hr />
    <ul>
        @foreach (var car in Model.Cars)
        {
            <li>車款編號:@car.Id 品名: @car.Name 顏色: @car.Color</li>
        }
    </ul>
</div>
